<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>InformacionConsolas</servlet-name>
        <servlet-class>despliegue.tienda.InformacionConsolas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CatalogoPorConsola</servlet-name>
        <servlet-class>despliegue.tienda.CatalogoPorConsola</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CatalogoJuegos</servlet-name>
        <servlet-class>despliegue.tienda.CatalogoJuegos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CatalogoProductos</servlet-name>
        <servlet-class>despliegue.tienda.CatalogoProductos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Insertar</servlet-name>
        <servlet-class>despliegue.tienda.Insertar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Eliminar</servlet-name>
        <servlet-class>despliegue.tienda.Eliminar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Modificar</servlet-name>
        <servlet-class>despliegue.tienda.Modificar</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InformacionConsolas</servlet-name>
        <url-pattern>/informacionConsolas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CatalogoPorConsola</servlet-name>
        <url-pattern>/catalogoPorConsola</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CatalogoJuegos</servlet-name>
        <url-pattern>/catalogoJuegos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CatalogoProductos</servlet-name>
        <url-pattern>/catalogoProductos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Insertar</servlet-name>
        <url-pattern>/insertar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Eliminar</servlet-name>
        <url-pattern>/eliminar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Modificar</servlet-name>
        <url-pattern>/modificar</url-pattern>
    </servlet-mapping>
</web-app>
